<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Hello Cloud!</title>

    <link rel='stylesheet' href='/webjars/bootstrap/3.3.4/css/bootstrap.min.css' />
    <link rel="stylesheet" th:href="@{/css/jumbotron-narrow.css}" href="jumbotron-narrow.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  
      <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img th:src="@{/img/cf.png}"/></a>
          <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/}">Home</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
  
  	  <h2>VCAP_APPLICATION</h2>
		<dl class="dl-horizontal">
		  <th:block th:each="property : ${app_instance_properties}">
			  <dt th:text="${property.key}"></dt>
			  <dd th:text="${property.value}"></dd>
		  </th:block>
		</dl>
      <h2>VCAP_SERVICES</h2>
		<dl class="dl-horizontal">
		  <th:block th:each="service : ${services}">
			  <dt th:text="${service.key}"></dt>
			  <dd th:text="${service.value}"></dd>
		  </th:block>
		</dl>
  
      <footer class="footer">
        <p>&copy; LibertyPaaS 2015</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>